body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #74d9ca;
    font-family: "Trebuchet MS",cursive, sans-serif;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 2px solid #74d9ca;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    font-family: "Trebuchet MS",cursive, sans-serif;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #74d9ca;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: "Trebuchet MS",cursive, sans-serif;
}

button:hover {
    background-color: #ff9692;
}

.card-placeholder {
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #74d9ca;
    background-color: #e9fdfb;
    border-radius: 10px;
    font-size: 18px;
    width: 400px;
    height: 250px;
}
